<div class="wrapper-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-right">
        <%= link_to "Add a new meeting", new_meeting_path ,class:"btn btn-danger"%>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
          <h2 class="text-center">My corner</h2>
        <div class="card" id="user-corner">
          <%= render "users/user_corner"%>
        </div>
      </div>
      <div class="col-sm-8">
          <h2 class="text-center">Calendar</h2>
        <div class="card" id="calendar">
          <%= week_calendar number_of_weeks: 2, events: @meetings do |date, meetings| %>
            <div class="date-square">
              <a href="#" class="date-link" data-toggle="modal" data-target="#modal_<%=date.jd%>">
              </a>

                <div class="number text-center">
                  <div class="special">
                    <%= date.day%>
                  </div>
                </div>
                <% meetings.each do |meeting| %>
                  <!-- <div class="meeting" style="color:green;">
                    <%= meeting.name %>
                  </div> -->
                <% end %>
            </div>

            <!-- Encart meeting -->

            <!-- Modal -->
            <div class="modal fade" id="modal_<%=date.jd%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%= date%></h4>
                  </div>
                  <div class="modal-body">
                    <% if meetings.select { |meeting| meeting.start_time.to_date == date}.any?%>
                      <% meetings.select { |meeting| meeting.start_time.to_date == date}.each do |meeting| %>
                        <%= meeting.name %>
                      <%end%>
                    <%else%>
                     <p>Nothing planned this day</p>
                    <%end%>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="codepen">
  <div class="row">
    <%= render "shared/code_pen_calendar"%>

  </div>
</div> -->
<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    // Gestion d'aujourd'hui
    $(".today .number .special").addClass("badge badge-red");

    // Gestion du hover sur date
    $( ".date-square" ).hover(function() {
        $(this).find('.special').addClass('hovered');
      }, function () {
        // if ($("#user-corner").css('display')=='none') {
        //   // tester presence user corner
        //   $(".card-trip").removeClass("fadded");
        // }
        $(this).find('.special').removeClass('hovered');
      }
    );

    // Gestion du select
    $( ".date-square" ).click(function() {
      $('.special').removeClass('selected');
      $(this).find('.special').addClass('selected');
    });
  });
</script>
<%end%>
